@import "../funciones/funciones.scss";

#contacto{
    height: 100%;
    width: 100%;
    grid-area: c;
    
    .contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;

        h3{
            @include estilo_letra(lg, ng)
            font-weight: bold;
        }

        div{
            background-color: rgba(255, 255, 255, 0.3);
            padding: 3%;
            margin-bottom: 5%;
            border-radius: 8px;
        }

        #formulario_contacto{
            p{
                @include estilo_letra(md, ng)
            }
            text-align: center;
            
            form{
                display: flex;
                flex-direction: column;
                align-items: center;

                .row{
                    width: 100%;
                    justify-content:space-between;
                    background-color: rgba(255, 255, 255, 0.1);
                    
                    .mb-2{
                        width: 48%;
                    }

                    .mb-3{
                        width: 100%;
                    }
                }
            }
        }

        #mapa{
            text-align: center;
            p{
                @include estilo_letra(md, ng)
                
            }
            iframe{
                width: 80%;
                height: 70%;
                margin-top: 5%;
            }
        }
    }
    
    @media(min-width:768px){
        div{
            width: 48%;
        }
    }
    
    @media(max-width:768px){
        .contenido{
            display: flex;
            flex-direction: column;
            margin-top: 2.5%;
            align-items: center;

            div{
                width: 90%;
            }

            #formulario_contacto{ ///Esto no funca como debe
                text-align: center;
            }

            #mapa{
                iframe{
                    width: 80%;
                    height: 50%;
                    margin-top: 5%;
                }
            }
        }
    }
}

