@import "../funciones/funciones.scss";

#contacto{
    height: 100%;
    width: 100%;
    grid-area: c;
    
    .contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;

        div{
            background-color: rgba(255, 255, 255, 0.3);
            padding: 3%;
            margin-bottom: 5%;
            border-radius: 8px;
        }

        #formulario_contacto{
            h3{
                @include estilo_letra(lg, ng)
                font-weight: bold;
            }
            p{
                @include estilo_letra(md, ng)
            }
        }

        #mapa{
            p{
                @include estilo_letra(md, ng)
            }
            text-align: center;
            iframe{
                width: 80%;
                margin-top: 5%;
            }
        }
    }
    
    @media(min-width:768px){
        div{
            width: 48%;
        }
    }
    
    label{
        display: inline;
    }
    
    input, textarea{
        display: block;
    }
    
    @media(max-width:768px){
        .contenido{
            display: flex;
            flex-direction: column;
            margin-left: 2.5%;
            margin-top: 2.5%;

            div{
                width: 90%;
            }

            #formulario_contacto{ ///Esto no funca como debe
                text-align: center;
                input{
                    margin-left: 25%;
                }
                textarea{
                    margin-left: 15%;
                }
            }
        }
    }
}

