@import "../funciones/funciones.scss";

/* inicio estilos para main */

#presentacion{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3%;
    border-radius: 16px;
    h3{
        @include estilo_letra(lg, ng)
        text-align:center;
        font-weight: bold;
    }

    p{
        @include estilo_letra(md, ng)
        text-align:center;
    }
}

#home{
    grid-area: c;
    
    @media (min-width:768px){ /*inicio vista desktop*/
        .contenido{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 5%;
            align-items: center;
            margin: 5%;
        }
        
        #imagen_contenido{
            img{
                width:80%;
                padding: 2.5%;
            }
        }
    }/*fin vista desktop*/
    
    @media (max-width:768px){/*inicio vista mobile*/
    
        .contenido{
            display: grid;
            justify-items: center;
            margin: 5%;
        }
    
        #imagen_contenido{
            img{
                width: 100%;
            }
        }
    
        #presentacion{
            margin-top: 50px;
        }
    }/*fin vista mobile*/
}

/* fin estilos para main */