.separacion, main .titulo_main {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black; }

/* inicio estilos para main */
#presentacion {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3%;
  border-radius: 16px; }
  #presentacion h3 {
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: bold; }
  #presentacion p {
    font-size: 20px;
    color: black;
    text-align: center; }

#home {
  grid-area: c;
  /*fin vista desktop*/
  /*fin vista mobile*/ }
  @media (min-width: 768px) {
    #home {
      /*inicio vista desktop*/ }
      #home .contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5%;
        align-items: center;
        margin: 5%; }
      #home #imagen_contenido img {
        width: 80%;
        padding: 2.5%; } }
  @media (max-width: 768px) {
    #home {
      /*inicio vista mobile*/ }
      #home .contenido {
        display: grid;
        justify-items: center;
        margin: 5%; }
      #home #imagen_contenido img {
        width: 100%; }
      #home #presentacion {
        margin-top: 50px; } }

/* fin estilos para main */
.separacion, main .titulo_main {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black; }

#catering {
  grid-area: c; }
  #catering .imagenes_contenido {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #catering .imagenes_contenido img {
      width: 400px;
      margin-top: 2.5%;
      margin-bottom: 2.5%; }
  #catering h3 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-left: 0;
    padding-top: 15px; }
  @media (max-width: 768px) {
    #catering h3 {
      text-align: center; } }

.separacion, main .titulo_main {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black; }

#presupuesto {
  grid-area: c;
  width: 100%; }
  #presupuesto section {
    width: 100%; }
  @media (min-width: 768px) {
    #presupuesto .contenido ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "s1 s2" "s3 s4";
      justify-items: center; }
    #presupuesto #s1 {
      grid-area: s1; }
    #presupuesto #s2 {
      grid-area: s2; }
    #presupuesto #s3 {
      grid-area: s3; }
    #presupuesto #s4 {
      grid-area: s4; } }
  @media (max-width: 768px) {
    #presupuesto h3 {
      padding-left: 0;
      padding-bottom: 10px;
      text-align: center; } }
  #presupuesto .contenido li {
    list-style: none; }
  #presupuesto .contenido img {
    width: 50%; }

.separacion, main .titulo_main {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black; }

#mobiliario {
  grid-area: c; }
  #mobiliario .imagenes_contenido {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #mobiliario .imagenes_contenido img {
      width: 400px;
      margin-top: 2.5%;
      margin-bottom: 2.5%; }
  #mobiliario h3 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-left: 0;
    padding-top: 15px; }
  @media (max-width: 768px) {
    #mobiliario h3 {
      text-align: center; } }

.separacion, main .titulo_main {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black; }

#contacto {
  height: 100%;
  width: 100%;
  grid-area: c; }
  #contacto .contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px; }
    #contacto .contenido h3 {
      font-size: 30px;
      color: black;
      font-weight: bold; }
    #contacto .contenido div {
      background-color: rgba(255, 255, 255, 0.3);
      padding: 3%;
      margin-bottom: 5%;
      border-radius: 8px; }
    #contacto .contenido #formulario_contacto {
      text-align: center; }
      #contacto .contenido #formulario_contacto p {
        font-size: 20px;
        color: black; }
      #contacto .contenido #formulario_contacto form {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #contacto .contenido #formulario_contacto form .row {
          width: 100%;
          justify-content: space-between;
          background-color: rgba(255, 255, 255, 0); }
          #contacto .contenido #formulario_contacto form .row .mb-2 {
            width: 48%; }
          #contacto .contenido #formulario_contacto form .row .mb-3 {
            width: 100%; }
    #contacto .contenido #mapa {
      text-align: center; }
      #contacto .contenido #mapa p {
        font-size: 20px;
        color: black; }
      #contacto .contenido #mapa iframe {
        width: 80%;
        height: 70%;
        margin-top: 5%; }
  @media (min-width: 768px) {
    #contacto div {
      width: 48%; } }
  @media (max-width: 768px) {
    #contacto .contenido {
      display: flex;
      flex-direction: column;
      margin-top: 2.5%;
      align-items: center; }
      #contacto .contenido div {
        width: 90%; }
      #contacto .contenido #formulario_contacto {
        text-align: center; }
      #contacto .contenido #mapa iframe {
        width: 80%;
        height: 50%;
        margin-top: 5%; } }

.separacion, main .titulo_main {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ede574;
  width: 100%;
  font-family: nunito; }
  body #contenedor_maestro {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25%,25%,25%,25%;
    grid-template-areas: "h h h" "c c c" "c c c" "f f f"; }
  body div p {
    font-size: 30px;
    color: black; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  grid-area: h;
  background-color: #6ab6f4;
  font-size: 20px;
  color: white; }
  header a {
    font-size: 20px;
    color: white; }

nav {
  width: 100%; }
  nav .titulo_header {
    display: inline;
    justify-content: center; }
  nav .nav_menu {
    display: flex;
    justify-content: end; }
    nav .nav_menu ul {
      align-items: center; }
    nav .nav_menu li {
      margin-right: 1rem;
      list-style: none; }
  nav a {
    text-decoration: none; }
  nav #menu_icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px; }

@media (min-width: 768px) {
  #menu_icon, #check {
    display: none; }
  .nav_menu ul {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px; } }

@media (max-width: 768px) {
  /*inicio vista mobile*/
  h1 {
    display: flex;
    justify-content: center; }
  h2 {
    display: none; }
  .checkbtn {
    display: flex; }
  #menu_icon {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer; }
  .nav_menu ul {
    background-color: #6ab6f4;
    display: block;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100vh;
    right: 0; }
    .nav_menu ul li {
      padding: 2rem;
      display: flex;
      justify-content: center;
      margin: 0; }
  #check {
    display: none; }
    #check:checked ~ ul {
      left: 0;
      transition: all .25s; } }

/*Fin vista mobile*/
main {
  background-color: #ede574; }

/* inicio estilos para footer */
footer {
  width: 100%;
  grid-area: f;
  background-color: #f39349;
  font-size: 20px;
  color: black; }
  footer .iconos_redes {
    width: 24px;
    margin-left: 2.5%;
    margin-right: 2.5%; }

.redes_copy {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .redes_copy #copyright {
    width: 25%; }
  .redes_copy #redes_sociales {
    display: inline;
    width: 25%;
    text-align: center; }
  .redes_copy li {
    display: inline;
    list-style: none; }
  .redes_copy p {
    font-size: 20px;
    text-align: center; }

@media (max-width: 768px) {
  /*inicio vista mobile*/
  .redes_copy p {
    font-size: 20px;
    display: inline; }
  .redes_copy #nombre_footer {
    text-align: center; }
  .redes_copy #follow {
    display: none; } }

/*fin vista mobile*/
/* fin estilos para footer */
