@import "estilo_paginas/home";
@import "estilo_paginas/catering";
@import "estilo_paginas/presupuesto";
@import "estilo_paginas/mobiliario";
@import "estilo_paginas/contacto";
@import "funciones/funciones.scss";

$color_uno:rgb(237,229,116);
$color_dos:rgb(106,182,244);
$color_tres:rgb(243,147,73);

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $color_uno;
    width: 100%;
    font-family:dancing script;

    #contenedor_maestro{
        display: grid;
        min-height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 25%,25%,25%,25%;
        grid-template-areas: "h h h"
                             "c c c"
                             "c c c"
                             "f f f";
    }

    div{
        p{
            font-size: 30px;
        }
    }
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    grid-area: h;

    background-color: $color_dos;
    @include estilo_letra(sm, bl)

    a{
        @include estilo_letra(sm, bl)
    }
}

nav{
    width: 100%;

    .titulo_header{
        display: inline;
        justify-content: center;
    }
    
    .nav_menu{
        display: flex;
        justify-content: end;
        ul{
            align-items: center;
            background-color: $color_dos;
        }
        li{
            margin-right: 1rem;
            list-style: none;
        }
    }
    
    a{
        text-decoration: none;
    }
    
    #menu_icon{
        img{
            width: 30px;
            height: 30px;
            border-radius: 2px;
        }
    }
}

@media (min-width:768px){
    #menu_icon, #check{
        display: none;
    }
}

@media (max-width:768px){/*inicio vista mobile*/
    h1{
        display: flex;
        justify-content: center;
    }
    
    h2{
        display: none;
    }
    .checkbtn{
        display: flex;
    }

    #menu_icon{
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }
    .nav_menu{
        ul{
            display: block;
            position: fixed;
            left:-100%;
            width: 100%;
            height: 100vh;
            right: 0;

            li{
                padding: 2rem;
                display: flex;
                justify-content: center;
                margin: 0;
                
            }
        }
    }
    #check{
        display: none;

        &:checked ~ ul{
            left: 0;
            transition: all .25s;
        }
    }
}/*Fin vista mobile*/

main{
    background-color: $color_uno;
    @include estilo_letra(lg, ng)
    .titulo_main{
        @extend .separacion;
    }
}

/* inicio estilos para footer */
footer{
    width: 100%;
    grid-area: f;

    background-color: $color_tres;
    @include estilo_letra(md, ng)

    .iconos_redes{
        width: 24px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

.redes_copy{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;

    #copyright{
        width: 25%;
    }

    #redes_sociales{
        display: inline;
        width: 25%;
        text-align: center;
    }

    li{
        display: inline;
        list-style: none;
    }

    p{
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width:768px){/*inicio vista mobile*/

    .redes_copy{
        p{
            font-size: 20px;
            display: inline;
        }

        #nombre_footer{
            text-align: center;
        }

        #follow{
            display: none;
        }
    }
}/*fin vista mobile*/
/* fin estilos para footer */
