$color_uno:rgb(237,229,116);
$color_dos:rgb(106,182,244);
$color_tres:rgb(243,147,73);
$b_letra:white;
$n_letra:black;

body{
    background-color: $color_uno;
}

header{
    background-color: $color_dos;
    color: $b_letra;
    a{
        color:$b_letra;
    }
    .nav_menu{
        ul{
            background-color: $color_dos;
        }
    }
}

main{
    background-color: $color_uno;
    color: $n_letra;
}

footer{
    background-color: $color_tres;
    color: $n_letra;
}


